@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

$color-primary: #1E1E1E;
$color-primary-contrast: #ffffff;

$color-secondary: #371E60;
$color-secondary-contrast: #371E60;

$color-error: #E61B41;
$color-error-contrast: #1E1E1E;

$color-warning: #F9DC48;
$color-warning-contrast: #1E1E1E;

$color-info: #371E60;
$color-info-contrast: #1E1E1E;

$color-success: #15CB76;
$color-success-contrast: #1E1E1E;


$color-light: white;
$color-light-contrast: #1E1E1E;

$color-dark: #1E1E1E;
$color-dark-contrast: #1E1E1E;

$bg-dark: #1E1E1E;
$bg-dark-contrast: #1E1E1E;

$input-color: #1E1E1E;

$iot-hub-icon: "/assets/img/icons/iot-hub.png";
$opc-server-icon: "/assets/img/icons/opc-server.png";